PORT=8033
SMART_GTM_DISPLAY_NAME=Smart GTM Agent

FIREBASE_SERVICE_ACCOUNT_KEY=./serviceAccountKey.json
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_MODEL_PRO=gemini-2.5-pro
GEMINI_MODEL_FLASH=gemini-2.5-flash
GEMINI_MODEL_FLASH_LITE=gemini-2.5-flash-lite

TAVILY_API_KEY=
TAVILY_SEARCH_DEPTH=basic
TAVILY_MAX_RESULTS=5
