PORT=8011
AGENT_PUBLIC_BASE_URL=http://13.206.83.175
AGENT_OAUTH_SHARED_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY=/home/ubuntu/app/.secrets/serviceAccountKey.json
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
# Zoom callback: http://13.206.83.175/zoom/auth/callback
