PORT=8001
AGENT_PUBLIC_BASE_URL=http://15.206.162.82
AGENT_OAUTH_SHARED_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY=/home/ubuntu/app/.secrets/serviceAccountKey.json
CANVA_CLIENT_ID=
CANVA_CLIENT_SECRET=
# Canva callback: http://15.206.162.82/canva/auth/callback
