PORT=8009
AGENT_PUBLIC_BASE_URL=http://15.206.162.82
AGENT_OAUTH_SHARED_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY=/home/ubuntu/app/.secrets/serviceAccountKey.json
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
# Jira callback: http://15.206.162.82/jira/auth/callback
