PORT=8009
AGENT_PUBLIC_BASE_URL=http://13.206.83.175
AGENT_OAUTH_SHARED_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY=/home/ubuntu/app/.secrets/serviceAccountKey.json
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
# Jira callback: http://13.206.83.175/jira/auth/callback
