PORT=8004
AGENT_PUBLIC_BASE_URL=http://15.206.162.82
AGENT_OAUTH_SHARED_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY=/home/ubuntu/app/.secrets/serviceAccountKey.json
DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=
# Dropbox callback: http://15.206.162.82/dropbox/auth/callback
